

#--------------------------------------------------------------------
# LOCAL / DEV (Remote API)
#--------------------------------------------------------------------
VITE_API_BASE_URL=http://localhost:8080/api
APP_NAME=Curly's Furniture Discounters
APP_ENV=production
VITE_APP_EMAIL=info@curlysfurniturediscounters.com
VITE_APP_CONTACT_NUMBER=(480) 491-2111
VITE_APP_CONTACT_ADDRESS=1238 W Elliot Rd, Tempe, AZ 85284
VITE_APP_STORE_ID=
VITE_APP_STORE_KEY=
VITE_APP_RECAPTCHA_SITE_KEY=


#--------------------------------------------------------------------
# PRODUCTION (Remote API)
#--------------------------------------------------------------------
# VITE_API_BASE_URL=https://www.smithgroupmarketing.com/api
# APP_NAME=Curly's Furniture Discounters
# APP_ENV=production
# VITE_APP_EMAIL=info@curlysfurniturediscounters.com
# VITE_APP_CONTACT_NUMBER=(480) 491-2111
# VITE_APP_CONTACT_ADDRESS=1238 W Elliot Rd, Tempe, AZ 85284
# VITE_APP_STORE_ID=
# VITE_APP_STORE_KEY=
# VITE_APP_RECAPTCHA_SITE_KEY=
# VITE_APP_RECAPTCHA_SECRET_KEY=
